.main{ width:1200px; background:#FFF; height:100%; margin:0 auto; padding-bottom:50px;}
.main .left{ width: 900px; float:left;}
.main .right{ width:220px; float:right; }

.main .right .qqbox{ width:180px; border:1px solid #e9ead9; background:#feffe5; color:#666; height:80px; margin-top:20px; line-height:20px; padding:10px 10px 10px 10px}
.main .right .category{
    width:100%; margin-top:20px; margin-bottom:20px;  font-family:"Microsoft Yahei";
}
.main .right .category ul li , .main .right .category ul li a{
    line-height:25px;
    color:#0096bb;
    font-size:14px;
    font-weight:bold;
}

.main .left .ask-tips-box{
     width:95%;  border:1px solid #e9ead9; background:#feffe5; color:#666; height:80px; margin-left:10px; margin-top:20px; margin-bottom:10px; line-height:20px;padding:10px 0 10px 9px; font-size: 12px
}
.main .left .ask-tips-box a{ color:#0078B6}
.main .left .ask-title{ line-height:30px; font-size:14px; margin-left:10px; color:#666; font-weight:bold}
.main .left .ask-title-input{ margin-left:10px; height:40px;}
.main .left .ask-title-input input{ width:520px;}
.main .left .ask-category{  line-height:30px; font-size:14px; margin-left:10px; color:#666; font-weight:bold}
.main .left .ask-category select{ color:#333}
.main .left .qa-ubb{ margin-left:10px; margin-top:20px;}

.main .left .qaubb{ width:720px; margin-left:10px; margin-top:10px; padding:0px 10px 0px 10px;color:#999; line-height:30px;}
.main .left .qaubb .tinfo{
     width:520px; border:1px solid #e9ead9; background:#feffe5; color:#666; height:30px;  margin-top:20px; margin-bottom:10px; line-height:30px; text-indent:10px;
}
.main .left .qaubb .unlogin{
    width:100%;  height:200px; background:url(../../../images/qa/ubb.jpg) 0px center no-repeat; line-height:200px;
    font-size:16px; color:#666; text-indent:180px; font-weight:bold
}
.main .left .qaubb .unlogin a{ color:#36C; }


.main .left .answerbox{
    width:95%; margin-left:10px; line-height:20px; margin-top:20px;
}

.main .left .answerbox .answerhtml{ padding:10px 10px 10px 10px;  font-size:12px; color:#666; line-height:20px;word-break:break-all; width:100%;}

.main .left .answerbox .aubaseinfo{ line-height:30px; color:#999; padding-left:5px; margin-top:10px; padding-bottom:20px; height:20px;}

.main .left .answerbox .aubaseinfo a{ display:block; float:left; line-height:15px; padding-left:2px; padding-right:10px; font-size:12px;}

.main .left .answerbox .aubaseinfo a.itime{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -1px no-repeat; padding:0;  }
.main .left .answerbox .aubaseinfo a.iviews{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -31px no-repeat;padding:0}
.main .left .answerbox .aubaseinfo a.itags{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -61px no-repeat;padding:0}
.main .left .answerbox .aubaseinfo a.iauthor{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -43px no-repeat;padding:0}

.main .left .info{ width:100%; padding:10px 0 10px 9px; border:1px solid #ededed;background:#f9f9f9;font-size:14px; margin-top:20px; margin-left:0px; font-weight:800; font-family:"Microsoft Yahei"; color:#333333}
.main .left .qades{ width:95%; margin-left:10px; margin-top:20px; padding:10px 10px 10px 10px; color:#666; overflow:hidden;word-break:break-all; font-size:12px;}
.main .left .qatags{  width:95%; margin-left:15px; margin-top:20px; }

.main .left .qatags a{display:inline-block; height:25px; line-height:25px; padding:0px 10px 0px 10px; background:#fbfbfb; /*-moz-border-radius: 3px;   -webkit-border-radius: 3px; border-radius: 3px;*/ color:#E2E1E3; border:1px solid #EDEDED;font-size:12px;}

.main .left .qatags a:hover{background:#F1FBFE; border:1px solid #CDE2ED}
.main .left .qabase{ width:95%; margin-left:10px; margin-top:10px; padding:0px 10px 0px 10px;color:#999; line-height:30px;}
.main .left .qabase a{ color:#999;font-size:12px;}

.main .left .qabases{ width:95%; margin-left:10px; margin-top:10px; padding:0px 10px 0px 10px;color:#999; line-height:30px;}

/*new qabase*/
.main .left .qabases a{ display:block; float:left; line-height:15px; padding-left:2px; padding-right:10px; font-size:12px;}

.main .left .qabases a.itime{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -1px no-repeat; padding:0;  }
.main .left .qabases a.iviews{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -31px no-repeat;padding:0}
.main .left .qabases a.itags{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -61px no-repeat;padding:0}
.main .left .qabases a.iauthor{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -43px no-repeat;padding:0}


.main .left .qabox{ width:100%; margin:0 auto; border-bottom:1px dotted #C4BEBD; margin-top:20px; padding-bottom:10px;}
.main .left .qabox .qaleft{ width:60px; height:40px; background:url(../../../images/qa/qiconst.png) 10px center no-repeat #f3f3f3;  float:left; text-align:center; margin-top:10px;}
.main .left .qabox .qaleft .recount{ line-height:40px; font-family:"Microsoft Yahei"; font-size:12px;  color:#0096bb}
.main .left .qabox .qaleft .retext{ line-height:30px;color:#333 }



.main .left .qabox .qaright{ width:620px; float:left; margin-left:20px;}
.main .left .qabox .qaright .qa_title,.main .left .qabox .qaright .qa_title a{ font-size:14px;  color:#666666; font-family:"Microsoft Yahei"; padding-bottom:3px; line-height:30px;}
.main .left .qabox .qaright .qa_base{ color:#999999; line-height:30px; font-size:12px; font-family:"宋体"; }

/*new qabase*/
.main .left .qabox .qaright .qa_base a{ display:block; float:left; line-height:15px; padding-left:2px; padding-right:10px;font-size: 12px}

.main .left .qabox .qaright .qa_base a.itime{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -1px no-repeat; padding:0;  }
.main .left .qabox .qaright .qa_base a.iviews{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -31px no-repeat;padding:0}
.main .left .qabox .qaright .qa_base a.itags{width:15px; height:15px; background:url(../../../images/qa/qicons.png) -4px -61px no-repeat;padding:0}


.main .left .qabox .qaright .qa_tags a{ display:inline-block; height:25px; line-height:25px; padding:0px 10px 0px 10px; background:#fbfbfb; color:#E2E1E3; border:1px solid #EDEDED}
.main .left .qabox .qaright .qa_tags a:hover{ background:#F1FBFE; border:1px solid #CDE2ED}

.main .left .tabs{
     width:100%; height:35px; line-height:35px; color:#333; font-size:14px; border:1px solid #ededed;background:#f9f9f9; margin:0 auto; margin-top:20px;
}
.main .left .tabs ul li{
    float:left; line-height:35px; padding:0px 20px 0px 20px;
}
.main .left .tabs ul li.sel{ background:#FFF}
.main .left .tabs ul li a{ color:#666}

.main .left .qabox .noneResult{ line-height:35px; font-family:"Microsoft Yahei"; text-align:center; font-size:14px;}
.main .left .qabox .noneResult a{ color:#369}
.main .left .tagslist{
    width:95%; margin:0 auto; height:100%; margin-top:20px; padding-bottom:10px;
}

.main .left .tagslist ul li{ float:left; width:18%; overflow:hidden; margin-top:10px;}
.main .left .tagslist ul li a{
    font-size:12px; color:#b4b4b4 !important; padding:5px 13px; margin-bottom:3px; border:1px solid #ededed; border-radius:2px;background-color:#fbfbfb; display:-moz-inline-stack; display:inline-block; vertical-align:middle; text-decoration:none !important;
}
.main .right .hot_tags_title{ width:180px; text-indent:1em; height:30px; line-height:30px;border:1px solid #ededed;background:#f9f9f9;color:#333; }
.main .right .hot_tags{ }
.main .right .hot_tags ul li{ margin:10px 0px 10px 0px;}
.main .right .hot_tags ul li .hot_tags_link{font-size:12px; color:#b4b4b4 !important; padding:5px 13px; margin-bottom:3px; border:1px solid #ededed; border-radius:2px;background-color:#fbfbfb; display:-moz-inline-stack; display:inline-block; vertical-align:middle; text-decoration:none !important;}

.juheapi_paging{text-align: center; height: 80px; line-height: 80px;}
.juheapi_paging a{font-weight: bold; font-size: 14px; color: #777; padding:5px 10px; height: 20px;}
.juheapi_paging .pageSel{background: #00B7EE; color:#fff; border-radius: 50%;}
.juheapi_paging .juheapi_prev,#juheapi_paging .juheapi_next{font-weight: normal; padding:0 25px;color: #00B7EE;}

.qa-form-btn{float:left;overflow:hidden;padding:4px 16px;border:1px solid #439f27;border-radius:3px;color:#fff;font-size:14px;font-weight:bold;cursor:pointer;outline:none;background:#74c450;}
.qa-form-btn:hover{
    background-color:#4bb51c;
}
.askinput{ height: 30px; line-height: 30px;}

.official { display:block; position: absolute; width:60px; height:56px; background:url(../../../images/qa/juhehuifu.png) center center no-repeat; margin-left:550px;}