/* CSS Document */
/*header*/
#header,#menu{width:100%; min-width:1200px; background:#fff; font-family:Microsoft Yahei}
.header{width:1200px; margin:0 auto; height:80px; line-height:80px; padding-top:15px; position:relative;}
.header h1{width:200px; height:40px; background:url(../../images/v3/logo.png) 0 0 no-repeat; text-indent:-999em; margin-top:0px;}
.header ul{position:absolute; right:0; top:24px; width:325px;}
.header ul li{float:left;}
.header ul li a{display:block;height:32px; line-height:32px;}
.index_login a{color:#00b7ee; font-size:14px;  width:88px; /*box-shadow:0 2px 1px #999;*/ background:url(../images/loginbg.png) center center no-repeat;text-align:center; font-weight:lighter}
.index_login a:hover{background:url(../images/loginbgr.png) center center no-repeat;}

.index_reg a{color:#00b7ee; font-size:14px;  width:88px;  background:url(../images/regbg.png) center center no-repeat;text-align:center; font-weight:lighter; margin:0px 30px 0px 15px; color:#f19149}
.index_reg a:hover{background:url(../images/regbgr.png) center center no-repeat;}

.index_uc a{color:#f37885; font-size:14px;  width:88px;  background:url(../images/ucbg.png) center center no-repeat;text-align:center; font-weight:lighter}
.index_uc a:hover{background:url(../images/ucbgr.png) center center no-repeat;}

.iphone a{color:#666; font-size:14px; background:url(../images/iphone.png) no-repeat; text-indent:25px; font-weight:lighter}
.iphone a:hover{text-decoration:underline;}

#juheapi_form{position:absolute; left:380px; top:28px; width:350px; height:20px; line-height:20px; padding:6px 20px; background:#f1f1f1; border-radius:16px; }
#juheapi_search{height:20px; line-height:20px; width:260px; position:absolute; left:55px; top:6px; border:0 none; font-family:'microsoft yahei'; color:#999; background:0 none; font-size:12px;}
#juheapi_search:focus{ outline:none; }
#juheapi_form label{position:absolute; left:15px; top:6px; font-size:14px; color:#a3a3a3; font-family:'Microsoft Yahei';}
#juheapi_btn{position:absolute; background:url(../images/search.png) no-repeat; right:10px; top:10; width:18px; height:18px;  border:0; outline:none; cursor:pointer}

/*menu*/
#menu{background:#009fe3;  position:relative; z-index:9;}
.menu{width:1200px; margin:0 auto; height:60px;}
.menu li{float:left; width:199px; border-left:1px solid #0091d0;}
.menu li a{display:block;text-align:center; color:#fff; height:40px; padding:10px 0;}
.menu li a strong{font-size:16px;font-family:'Microsoft Yahei'; font-weight:lighter;display:block; height:18px; line-height:18px; padding-bottom:2px;}
.menu li a span{font-size:13px; font-family:'Microsoft Yahei';display:block; height:20px; line-height:20px;}
.menu li a:hover{background:#0aadf3;}

.menu li.sel{background:#008ed0;}

.menu .tools{ width:198px; position:relative;}
.menu .tools a{background:#009fe3;}
.menu .tools em{background:url(../../images/v3/iphone.png) -1px -234px no-repeat; position:absolute; right:52px; top:16px; width:10px; height:10px;}
.tools .tool_select{width:198px; background:#0087c0; position:absolute; top:60px; right:0; display:none; z-index:99; font-family:Microsoft Yahei; font-size:12px;}
.tools .tool_select a{display:block; height:40px; line-height:40px; padding:0 0 0 70px; text-align:left;}
.tools .tool_select a:hover{background:#0c81b2;}

